<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Current working stuff on good soup </h1>
	<ul>
		<li> <a href="/users"> List all users </a> </li>
		<li> <a href="/ping"> Ping Pong </a> </li>
		<li> <a href="/user/1"> Show a user </a> </li>
		<li> <a href="/random/254"> Show a random Integer </a> </li>
		<li> <a href="/test">Template Test</a> </li>
	</ul>
</body>
</html>
