<!DOCTYPE html>
<head></head>
<body>
    
<h1>
    this is the login page?
</h1>
<a target="signup">Sign up page</a>
<form action="login" method="post">
    <label for="email">Email</label>
    <input name="email" type="text">

    <label for="password">Password</label>
    <input name="password" type="password">

    <button type="submit">login</button>
</form>

<h2> This is a second form</h2>


 <form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 

</body>